@model MVC.Models.ORM.Restorant

<form action="/Restorant/Add" method="post">

    <div>
        @Html.LabelFor(q=>q.Id)
        @Html.TextBoxFor(q=>q.Id)
    </div>
    
<div>
    @Html.LabelFor(q => q.Name)
    @Html.TextBoxFor(q => q.Name)

</div>
    
<div>
    @Html.LabelFor(q => q.Adress)
    @Html.TextBoxFor(q => q.Adress)
</div>

<div>
    @Html.LabelFor(q => q.Phone)
    @Html.TextBoxFor(q => q.Phone)

</div>

    <div>
        @Html.LabelFor(q => q.City)
        @Html.TextBoxFor(q => q.City)
    </div>

    <div>
        @Html.LabelFor(q => q.Region)
        @Html.TextBoxFor(q => q.Region)
    </div>
    <input type="submit" value="Submit">
</form>