@model MVC.Models.ORM.Client

<form action="/Client/Add" method="post">
    
    <div>

        @Html.LabelFor(x => x.UserName)
        @Html.TextBoxFor(x => x.UserName)

    </div>

    <div>

        @Html.LabelFor(x => x.City)
        @Html.TextBoxFor(x => x.City)
          
    </div>

    <div>

        @Html.LabelFor(x => x.Country)
        @Html.TextBoxFor(x => x.Country)

    </div>

<div>
        <button type="submit" >  Add   </button>

    </div>

</form>