@model MVC.Models.ORM.Client

<style>
    #btn {
        width: 50px;
        height: 30px;
        background-color: black;
        color: white;
        font-size: 14pt;
    }

        #btn:hover {
            cursor: pointer;
        }

</style>
<form action="/Client/Add" method="post">

    <div>

        @Html.LabelFor(x => x.UserName)
        @Html.TextBoxFor(x => x.UserName)

    </div>

    <div>

        @Html.LabelFor(x => x.City)
        @Html.TextBoxFor(x => x.City)

    </div>

    <div>

        @Html.LabelFor(x => x.Country)
        @Html.TextBoxFor(x => x.Country)

    </div>

    <div>
        <button id="btn" type="submit">Add</button>

    </div>

</form>